body {
    font-family: Arial, Helvetica, sans-serif;
}
/*color_button_selection*/

.color-button {
    border: none;
    padding: 12px;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.color-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #4d535c;
}

/*Styling for the color buttons*/
.button-red {
    background-color: rgb(241, 4, 16);
}

.button-violet {
    background-color: rgb(77, 36, 187);
}

.button-black {
    background-color: black;
}

.button-white {
    background-color: white;
}

.button-orange {
    background-color: orange;

}

.button-yellow {
    background-color: yellow;
}

.button-navy-blue {
    background-color: #1D53AE;
}

.button-turquoise {
    background-color: #285A7B;
}

.button-beige {
    background-color: #DAB595;
}

.button-sky-blue {
    background-color: #54C0F9;
}

.button-lime-green {
    background-color: #90FA4D;
}

.button-pink {
    background-color: #EA37B3;
}

.button-cream {
    background-color: #DAB595;
}

.button-emerald-green {
    background-color: #418D65;
}

.button-dark-grey {
    background-color: #6F6975;
}

.button-brown {
    background-color: #6E502B;
}

.button-aqua-marine {
    background-color: #69DAD1;
}

.button-light-grey {
    background-color: #C4C4C4;
}

/*Styling for buttons on the main screen*/
.mainButtons{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

.quantityBtn{
    border: black;
    background-color: white;
    border:2px solid black;
    border-radius: 24px;
    width: 70px;
    height: 50px;
    text-align: center;
}

.addToCartBtn{
    color: white;
    border: none; /*hide button outline*/
    background-color: black;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    text-align: center;
}


/*Modal formating*/
/*Majority of this code is sourced from w3schools*/
#content {
    margin: auto;
    padding: 10px;
    max-width: 550px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */
.modal {
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;   /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 2px solid black;
    width: 450px;
    height: 180px;
}


.minus-button {
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    background-color: black;
    color: white;
    width: 50px;
}

.plus-button {
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    background-color: black;
    color: white;
    width: 50px;
}

.items{
    background-color: white;
    border: none;
    font-size: 25px; 
    margin: 15px;
}

.agree-button {
    text-align: center;
    border: 1px solid green;
    border-radius: 8px;
    font-size: 13px;
    background-color: rgba(14, 119, 14, 0.5);
    color: black;
    width: 70px;
    height: 40px;
}

.cancel-button {
    text-align: center;
    border: 1px solid red;
    border-radius: 8px;
    font-size: 12px;
    background-color: rgba(236, 5, 5, 0.5);
    color: black;
    width: 70px;
    height: 40px;
}
